/* 
** 퀵바 공통
 */
.quick-link-item a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}

.link-icon {
  width: 5rem;
  height: 5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background: var(--color-primary-dark);
}

.quick-link-call .link-icon img {
  width: 54%;
}

.quick-link-online .link-icon img {
  width: 45%;
}

.quick-link-email .link-icon img {
  width: 54%;
}

.quick-link-location .link-icon img {
  width: 50%;
}

/* 
** 데스크탑 버전 퀵바
 */
.quickBarPc {
  position: fixed;
  z-index: 999;
  bottom: 24%;
  right: 3.6%;

  width: 9rem;

  border-radius: 999px;
  background: linear-gradient(
    180deg,
    var(--Primary-Light, #64a1c4) 0%,
    #3276a1 100%
  );
  box-shadow: 0 0.3rem 0.8rem 0.1rem rgba(25, 67, 80, 0.3);

  font-size: 1.4rem;
  color: #fff;
  text-align: center;

  transition: all 0.7s ease;
}

.quickBarPc:lang(en) {
  font-size: 1.3rem;
}

.quickBarPc .quick-link-inner {
}

.quickBarPc .quick-link-list-wrap {
  overflow: hidden;
}

.quickBarPc .quick-link-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  padding: 3rem 0;
}

.quickBarPc .quick-bar-btn-wrap {
  width: 9rem;
  height: 9rem;
}

.quickBarPc .btn-toggle__quick-bar {
  position: relative;

  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  transition: background 0.3s ease;
}

.quickBarPc .btn-toggle__quick-bar .btn-icon {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: -1;
  transform: scale(0.9);

  transition: all 0.3s ease;
}

.quickBarPc .btn-toggle__quick-bar .btn-icon.on {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  z-index: 1;
  transform: scale(1);

  transition: all 0.3s ease;
}

.quickBarPc .btn-toggle__quick-bar:hover .btn-icon {
  background: rgba(121, 222, 253, 0.3);
}

.quickBarPc .btn-toggle__quick-bar .btn-close-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quickBarPc .btn-toggle__quick-bar .btn-close-icon img {
  width: 2.4rem;
}

.quickBarPc .btn-toggle__quick-bar .btn-open-icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 42%;

  animation: flash 3.4s infinite;
}

@keyframes flash {
  0%,
  50%,
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  25% {
    opacity: 0;
    transform: translate(-50%, -45%);
  }
}

.quickBarPc .btn-toggle__quick-bar .btn-open-icon img:nth-child(1) {
  animation-delay: 0s;
}

.quickBarPc .btn-toggle__quick-bar .btn-open-icon img:nth-child(2) {
  animation-delay: 0.2s;
}

.quickBarPc .btn-toggle__quick-bar .btn-open-icon img:nth-child(3) {
  animation-delay: 0.4s;
}

.quickBarPc .btn-toggle__quick-bar .btn-open-icon img:nth-child(4) {
  animation-delay: 0.6s;
}

.quickBarPc.scrolled {
  bottom: 6%;
}
