/* 
** Spoqa Han Sans Neo
 */
@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 100;
  src: url("/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Thin.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 300;
  src: url("/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 400;
  src: url("/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.woff2")
    format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 500;
  src: url("/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.woff2")
    format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 700;
  src: url("/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.woff2") format("woff2");
  font-display: swap;
}

/* 
** AritaBuriKR
 */
@font-face {
  font-family: "AritaBuriKR";
  font-weight: 500;
  src: url("/fonts/AritaBuriKR/AritaBuriKR-Medium.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "AritaBuriKR";
  font-weight: 600;
  src: url("/fonts/AritaBuriKR/AritaBuriKR-SemiBold.woff2") format("woff2");
  font-display: swap;
}

/* 
** Paperlogy
 */
@font-face {
  font-family: "Paperlogy";
  font-weight: 600;
  src: url("/fonts/Paperlogy/Paperlogy-6SemiBold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Paperlogy";
  font-weight: 700;
  src: url("/fonts/Paperlogy/Paperlogy-7Bold.woff2") format("woff2");
  font-display: swap;
}

/* 
** One Mobile Title
 */
@font-face {
  font-family: "One Mobile Title";
  font-weight: normal;
  src: url("/fonts/OneMobileTitle/ONE Mobile Title.woff2") format("woff2");
  font-display: swap;
}

/* 
** GmarketSans
 */
@font-face {
  font-family: "GmarketSans";
  font-weight: 300;
  src: url("/fonts/GmarketSans/GmarketSansTTFLight.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "GmarketSans";
  font-weight: 500;
  src: url("/fonts/GmarketSans/GmarketSansTTFMedium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "GmarketSans";
  font-weight: 700;
  src: url("/fonts/GmarketSans/GmarketSansTTFBold.woff2") format("woff2");
  font-display: swap;
}

/* 
** Pretendard 
*/
@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-display: swap;
  src: local("Pretendard Black"),
    url("/fonts/Pretendard/Pretendard-Black.woff2") format("woff2"),
    url("/fonts/Pretendard/Pretendard-Black.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-display: swap;
  src: local("Pretendard ExtraBold"),
    url("/fonts/Pretendard/Pretendard-ExtraBold.woff2") format("woff2"),
    url("/fonts/Pretendard/Pretendard-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"),
    url("/fonts/Pretendard/Pretendard-Bold.woff2") format("woff2"),
    url("/fonts/Pretendard/Pretendard-Bold.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard SemiBold"),
    url("/fonts/Pretendard/Pretendard-SemiBold.woff2") format("woff2"),
    url("/fonts/Pretendard/Pretendard-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"),
    url("/fonts/Pretendard/Pretendard-Medium.woff2") format("woff2"),
    url("/fonts/Pretendard/Pretendard-Medium.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"),
    url("/fonts/Pretendard/Pretendard-Regular.woff2") format("woff2"),
    url("/fonts/Pretendard/Pretendard-Regular.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: swap;
  src: local("Pretendard Light"),
    url("/fonts/Pretendard/Pretendard-Light.woff2") format("woff2"),
    url("/fonts/Pretendard/Pretendard-Light.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-display: swap;
  src: local("Pretendard ExtraLight"),
    url("/fonts/Pretendard/Pretendard-ExtraLight.woff2") format("woff2"),
    url("/fonts/Pretendard/Pretendard-ExtraLight.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-display: swap;
  src: local("Pretendard Thin"),
    url("/fonts/Pretendard/Pretendard-Thin.woff2") format("woff2"),
    url("/fonts/Pretendard/Pretendard-Thin.woff") format("woff");
}

/* 
** NEXON_Lv1_Gothic 
*/
@font-face {
  font-family: "NEXON Lv1 Gothic";
  font-weight: 400;
  font-display: swap;
  src: local("NEXON Lv1 Gothic"),
    url("/fonts/NEXON_Lv1_Gothic/NEXONLv1GothicRegular.woff2") format("woff2");
}
@font-face {
  font-family: "NEXON Lv1 Gothic";
  font-weight: 700;
  font-display: swap;
  src: local("NEXON Lv1 Gothic"),
    url("/fonts/NEXON_Lv1_Gothic/NEXONLv1GothicBold.woff2") format("woff2");
}
