/* 
** main common styles
 */
.main-sc-tit-wrap {
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
}

.main-sc-tit-wrap.center {
  align-items: center;
}

.main-sc-tit-wrap.g-0 {
  gap: 0;
}

.main-sc-tit-wrap .tit {
  font-size: 4.2rem;
  font-weight: 700;

  flex-shrink: 0;
}

.main-sc-tit-wrap .np {
  display: inline-block;
  margin-bottom: 1.4rem;

  color: var(--color-primary-light);
  font-weight: 700;
}

.main-sc-tit-wrap .desc {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  font-size: 1.7rem;
  color: var(--color-text-secondary);
  line-height: 1.6;

  padding-right: 2rem;
}

.go-page-link {
  font-size: 1.7rem;

  flex-shrink: 0;
  width: fit-content;
}

.go-page-link a {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.go-page-link .link-txt {
  position: relative;
  overflow: hidden;

  padding: 0.25em 1em 0.2em;
  border-radius: 999px;
  border: 1px solid var(--color-primary-dark);

  color: var(--color-primary-dark);

  transition: all 0.3s ease;
}

.go-page-link .link-txt > span {
  position: relative;
  z-index: 2;
}

.go-page-link .link-txt:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--color-primary-dark);
  transition: all 0.3s ease;
  z-index: 1;
}

.go-page-link .link-icon {
  border-radius: 50%;
  width: 2.02375em;
  height: 2.02375em;

  display: flex;
  align-items: center;
  justify-content: center;

  background: url("/images/common/icon/btn-page-link.svg") no-repeat 55% 50% /
    46%;
  background-color: var(--color-primary-dark);

  transition: all 0.3s;
}

.go-page-link a:hover .link-txt {
  color: #fff;
}

.go-page-link a:hover .link-txt:before {
  width: 100%;
}

.go-page-link a:hover .link-icon {
  transform: translate(25%, 0);
}

/* 
** SECTION :: main-visual
 */
.sc__main-visual {
  position: relative;
  height: calc(var(--vh, 1vh) * 100);
  /* height: 62.5vw;
  min-height: 768px;
  max-height: 940px; */
}

.sc__main-visual .scroll-hint {
  position: absolute;
  bottom: 0;
  right: 22%;
  z-index: 10;
  transform: rotate(90deg);
  transform-origin: right bottom;

  display: flex;
  align-items: center;
  gap: 1rem;

  font-size: 1.4rem;
  color: #fff;
}

.sc__main-visual .scroll-hint-bar {
  position: relative;
  width: 10rem;
  height: 1px;
  background: rgba(255, 255, 255, 0.3);
}

.sc__main-visual .scroll-hint-bar span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #fff;

  animation: scroll-hint-bar 2s cubic-bezier(0.65, 0, 0.35, 1) infinite;
}

@keyframes scroll-hint-bar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.main-visual-indicator {
  position: absolute;
  bottom: 19rem;
  right: 12%;
  z-index: 10;

  width: 6rem;
  height: 6rem;

  border-radius: 50%;
  overflow: hidden;
}

.main-visual-indicator .indicator-circle .track {
  position: absolute;
  top: 0;
  left: 0;

  fill: none;
  stroke-width: 6;
  stroke: rgba(255, 255, 255, 0.2);
}

.main-visual-indicator .indicator-circle .progress {
  position: absolute;
  top: 0;
  left: 0;

  fill: none;
  stroke-width: 6;
  stroke: rgba(255, 255, 255, 1);
  stroke-linecap: round;

  stroke-dasharray: 339.29; /* 2 * π * r ≈ 2 * 3.1416 * 54 */
  stroke-dashoffset: 339.29;
  transform: rotate(-90deg);
  transform-origin: center;
  transition: stroke-dashoffset 0s;
}

.main-visual-indicator .indicator-num {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;

  font-family: var(--font-poppins);
  font-size: 3.2rem;
  font-weight: 700;
  color: #fff;
}

.indicator-num span {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  transition: transform 0.4s ease, opacity 0.4s ease;
  opacity: 1;
}

.indicator-num .next {
  transform: translate(-50%, -50%);
  opacity: 0;
}

.main-visual-swiper,
.main-visual-swiper .swiper-slide {
  width: 100%;
  height: 100%;
}

.main-visual-swiper .container-1360 {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.main-visual-tit {
  width: 60%;
}

.main-visual-tit:lang(en) {
  width: 64%;
}

.main-visual-tit h3 {
  font-size: 6rem;
  font-weight: 300;
  line-height: 1.2;
  color: #fff;

  display: flex;
  flex-direction: column;

  margin-bottom: 4rem;
}

.main-visual-tit h3 .text-en {
  font-size: 5.8rem;
}

.main-visual-tit h3 > span + span {
  margin-top: 0.2em;
}

.main-visual-tit p {
  font-size: 1.8rem;
  color: #fff;
}

.main-visual-swiper .swiper-slide {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.main-visual-swiper .slide-1 {
  background-image: url("/images/pages/main/main_visual_img_01.png");
}
.main-visual-swiper .slide-2 {
  background-image: url("/images/pages/main/main_visual_img_02.png");
}
.main-visual-swiper .slide-3 {
  background-image: url("/images/pages/main/main_visual_img_03.png");
}

.main-visual-cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  pointer-events: none;

  height: 100%;
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.54) 0%,
      rgba(0, 0, 0, 0.9) 50%
    ),
    linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);

  opacity: 1;
  transition: opacity 1.4s ease;
}

.swiper-slide-active .main-visual-cover {
  opacity: 0;
}

/* [data-slide-up] {
  overflow: hidden;
}

[data-slide-up] span {
  display: inline-block;
  opacity: 0;
  transform: translateX(-14rem);
  transition: none;
}

.swiper-slide-active [data-slide-up] span {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
} */

.swiper-slide-active [data-delay="0.2"] span {
  transition-delay: 0.2s;
}

.swiper-slide-active [data-delay="0.4"] span {
  transition-delay: 0.4s;
}

/* 
** SECTION :: main-intro
 */
.sc__main-intro {
  background: url("/images/pages/main/intro_bg_img.png") no-repeat 106% -10% / 50rem;
  background-color: #f7f7f7;
}

.intro-img-wrap {
  flex-shrink: 0;

  width: 100%;
  max-width: 48rem;
  height: 61.4rem;

  border-radius: 0px 0px 999px 999px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.intro-img-inner {
  width: 100%;
  height: 100%;
  background: url("/images/pages/main/intro_img.png") no-repeat 50% 50% / cover;
}

.intro-txt-wrap {
  padding: 12rem 0 12rem 8%;
}

/* 
** SECTION :: main-subject
 */
.sc__main-subject {
  position: relative;
  background: #f7f7f7;
}

.sc__main-subject .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/images/pages/main/subject_bg.png") no-repeat 50% 100% /
    1920px 100%;
}

.sc__main-subject .sc-inner.df {
  align-items: center;
  justify-content: space-between;
}

.subject-txt-wrap .main-sc-tit-wrap {
  padding-left: 30%;
  padding-right: 18%;
}

.subject-con-wrap {
  width: 54%;
  max-width: 1536px;
  overflow: hidden;
}

.main-subject-swiper {
  width: calc(35rem * 2 + 4rem * 2);
  margin: 0;
  overflow: visible;
}

.main-subject-swiper .swiper-slide {
  width: 35rem;
  padding: 4rem 0;
  margin-right: 4rem;

  user-select: none; /* 텍스트 선택 방지 */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
}

.subject-item-inner {
  position: relative;
}

.subject-item-inner .image {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 3rem;
  overflow: hidden;
  box-shadow: 2rem 2rem 3rem 0px rgba(0, 0, 0, 0.12);

  transition: all 0.6s;
}

.subject-item-inner .image:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(100, 161, 196, 0.8) 0%,
    rgba(100, 161, 196, 0.8) 100%
  );
  opacity: 0;

  transition: all 0.6s;
}

.subject-item-inner .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.3;

  transition: all 0.6s;
}

.subject-item-inner .text {
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translate(-50%, 0%);

  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: all 0.5s ease;
}

.subject-item-inner .text:lang(en) {
  bottom: 10%;
}

.subject-item-inner .text span {
  font-size: 2rem;
  color: #fff;
  text-align: center;

  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.subject-item-inner .text span.bold {
  font-size: 2.8rem;
}

.swiper-slide-active .subject-item-inner .text {
  bottom: 50%;
  transform: translate(-50%, 50%);
}

.swiper-slide-active .subject-item-inner .image {
  border-radius: 35rem;
  transition: all 0.6s;
}

.swiper-slide-active .subject-item-inner .image:after {
  opacity: 1;
  transition: all 0.6s;
}

.swiper-slide-next .subject-item-inner .image img,
.swiper-slide-active .subject-item-inner .image img {
  opacity: 1;
  transition: all 0.6s;
}

/* 
** SECTION :: main-equipment
 */
.sc__main-equipment .main-sc-tit-wrap > .df {
  justify-content: space-between;
  align-items: center;
}

.sc__main-equipment .main-sc-tit-wrap > .df .df-item {
  display: flex;
  align-items: center;
  gap: 3.6rem;
}

.equip-list {
  padding: 6rem 0 18rem;

  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.equip-item {
  width: 30%;
}

.equip-item a {
  position: relative;

  display: flex;
  justify-content: center;

  width: 100%;
  padding-top: 100%;
}

.equip-item .text {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  width: 100%;
  height: 100%;

  padding: 5% 10%;

  border-radius: 3rem;
  background: #fff;
  box-shadow: 0px 0.4rem 2rem 0px rgba(94, 100, 141, 0.25);

  font-size: 1.8rem;
  text-align: center;

  transition: all 0.5s ease;
}

.equip-item .text strong {
  font-size: 2.8rem;
  font-weight: 700;
}

.equip-item.active .text,
.equip-item:hover .text {
  background: var(--color-primary);
  border-radius: 50%;
  color: #fff;
}

.equip-item .image {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 60%);
}

.equip-drx9000 .image {
  width: 70%;
}

.equip-dmx .image {
  width: 80%;
}

.equip-lllt .image {
  width: 60%;
}

/* 
** SECTION :: main-technique
*/

.sc__main-technique {
  position: relative;

  background: linear-gradient(270deg, #26597c 0%, #3276a1 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  overflow: hidden;
}

.sc__main-technique .sc-inner {
  position: relative;
  z-index: 2;
}

.technique-txt-wrap .main-sc-tit-wrap {
  color: #fff;
  margin-bottom: 2rem;
}

.technique-txt-wrap .main-sc-tit-wrap .sub-tit {
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
}

.main-technique-btn-wrap,
.technique-tab .tab-buttons {
  display: flex;
  gap: 1rem;
}

.main-technique-btn,
.technique-tab .tab-btn {
  font-size: 1.8rem;
  color: #fff;

  padding: 0.4em 1.2em;
  border: 1px solid #fff;
  border-radius: 999px;

  transition: all 0.2s ease;
}

.main-technique-btn.active,
.technique-tab .tab-btn.active {
  background: var(--color-primary-light);
  border-color: var(--color-primary-light);
}

.main-technique-btn:not(.active):hover,
.technique-tab .tab-btn:not(.active):hover {
  background: rgba(255, 255, 255, 0.2);
}

.main-technique-swiper,
.technique-tab .tab-contents {
  margin-top: 6rem;
  height: 48rem;
}

.main-technique-swiper {
  overflow: visible;
}

.main-technique-swiper .swiper-slide,
.technique-tab .tab-contents .tab-content {
  height: 100%;
}

.technique-cnt-inner {
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  width: 100%;
  height: 100%;
  padding: 2rem;

  background: #fff;
  border-radius: 8rem 0;
  overflow: hidden;
}

.technique-cnt-inner .text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 52%;
  height: 100%;
  padding: 4rem 4rem 4rem 6rem;
}

.technique-cnt-inner .text strong {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.2;
}

.technique-cnt-inner .text strong > span {
  font-size: 2.4rem;
  color: var(--color-primary-dark);
}

.technique-cnt-inner .text p {
  font-size: 2.4rem;
  line-height: 1.6;
  margin-bottom: 1em;
}

.technique-cnt-inner .image {
  width: 48%;
  height: 100%;
  border-radius: 6rem 0;
  overflow: hidden;
}

.technique-cnt-inner .image video,
.technique-cnt-inner .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sc__main-technique .side-text {
  position: absolute;
  top: 200%;
  right: 0;
  z-index: 1;
  transform: translate(0, 0) rotate(90deg);
  transform-origin: 100% 0;

  display: flex;
  gap: 1em;
  padding: 1rem 0;
  border-bottom: 1px solid var(--color-primary-light);

  font-family: var(--font-spline-mono);
  font-size: 5rem;
  font-weight: 700;
  color: var(--color-primary-light);
  white-space: nowrap;

  opacity: 0.3;

  pointer-events: none;
}

/* 
** SECTION :: main-news 
 */
.sc__main-news .main-sc-tit-wrap .sub-tit {
  width: fit-content;

  font-size: 2.4rem;
  font-weight: 700;
  color: #fff;
  background: var(--color-primary);
  padding: 0.4em 1.4em;
  border-radius: 999px;

  margin-top: 1rem;
}

.news-con-wrap {
  position: relative;
  height: 40rem;
}

.news-con-wrap:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 72%;
  border-radius: 9999px;
  background: #f7f7f7;
}

.main-news-swiper {
  width: 90%;
  height: 100%;
}

.main-news-swiper .swiper-slide {
  width: 100%;
  height: 100%;
}

.news-item-inner {
  display: flex;
  align-items: flex-end;
  gap: 6rem;

  width: 100%;
  height: 100%;
}

.news-item-inner .image {
  position: relative;
  width: 40%;
  max-width: 46rem;
  height: 36rem;
}

.news-item-inner .image img {
  position: relative;
  z-index: 2;

  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: right;
}

.news-item-inner .image:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;

  width: 100%;
  height: 100%;
  background: url("/images/pages/main/news_img_shadow.png") no-repeat 100% 100% /
    100% 100%;
}

.news-item-inner .text {
  flex: 1;
  height: 72%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.6rem;

  padding: 2rem 0;
}

.news-item-inner .text strong {
  font-size: 2.4rem;
  font-weight: 700;
}

.news-item-inner .text p {
  font-size: 1.8rem;
  color: var(--color-text-secondary);
}

.news-item-inner .download-btn-wrap {
  display: flex;
  gap: 1rem;
}

.news-item-inner .download-btn-wrap .download-btn {
  position: relative;

  display: flex;
  align-items: center;
  gap: 1rem;

  padding: 0.3em 1em;
  border-radius: 999px;

  background: transparent;
  border: 1px solid var(--color-primary-dark);

  font-size: 1.7rem;
  color: var(--color-primary-dark);

  overflow: hidden;

  transition: all 0.3s ease;
}

.news-item-inner .download-btn-wrap .download-btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;

  width: 100%;
  height: 0;

  background: var(--color-primary-dark);

  transition: all 0.3s ease;
}

.news-item-inner .download-btn-wrap .download-btn:hover {
  color: #fff;
}

.news-item-inner .download-btn-wrap .download-btn:hover:before {
  height: 100%;
}

.news-item-inner .download-btn-wrap .download-btn.img-dl-btn {
  background: var(--color-primary-dark);
  color: #fff;
}

.news-item-inner .download-btn-wrap .download-btn.img-dl-btn:hover {
  background: var(--color-primary-light);
  border-color: var(--color-primary-light);
}

.news-item-inner .download-btn-wrap .download-btn:hover .btn-icon img {
  filter: brightness(10);
}

.news-item-inner .download-btn-wrap .download-btn .btn-icon img {
  width: 1em;
  height: 1em;
}

.news-swiper-btn-prev,
.news-swiper-btn-next {
  position: absolute;
  bottom: 36%;
  transform: translate(0, 50%);

  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 1px solid #ccc;

  background: no-repeat 50% 50% / 60%;

  cursor: pointer;
  z-index: 10;

  transition: all 0.2s;
}

.news-swiper-btn-prev {
  left: 0;
  background-image: url("/images/common/icon/btn-prev.svg");
  transform: translate(100%, 50%);
}

.news-swiper-btn-next {
  right: 0;
  background-image: url("/images/common/icon/btn-next.svg");
  transform: translate(-100%, 50%);
}

.news-swiper-btn-prev:hover,
.news-swiper-btn-next:hover {
  background-color: #fff;
}

/* 
** 반응형
 */
@media (max-width: 1600px) {
  .main-visual-tit h3 {
    font-size: 5.6rem;
  }

  .main-visual-tit h3 .text-en {
    font-size: 5.4rem;
  }
}

@media (max-width: 1440px) {
  .intro-img-wrap {
    max-width: 45.6rem;
    height: 58.33rem;
  }

  .subject-txt-wrap .main-sc-tit-wrap {
    padding-left: 18%;
  }

  .technique-cnt-inner .text p {
    font-size: 2.2rem;
  }

  .main-news-swiper {
    width: 100%;
  }

  .news-item-inner {
    padding-left: 10%;
  }

  .news-item-inner .text {
    flex: none;
  }
}

@media (max-width: 1024px) {
  .main-sc-tit-wrap .desc {
    font-size: 1.9rem;
  }

  .sc__main-visual {
    height: calc(var(--vh, 1vh) * 100);
    min-height: auto;
    max-height: none;
  }

  .go-page-link {
    font-size: 1.9rem;
  }

  .news-item-inner .download-btn-wrap .download-btn {
    font-size: 1.9rem;
  }

  .visual-item-inner {
    align-items: flex-start;
  }

  .main-visual-swiper .slide-1 {
    background-position: 0 50%;
    background-image: url("/images/pages/main/main_visual_img_01_mo.png");
  }

  .main-visual-swiper .slide-2 {
    background-position: 10% 50%;
    background-image: url("/images/pages/main/main_visual_img_02_mo.png");
  }

  .main-visual-swiper .slide-3 {
    background-position: 10% 50%;
    background-image: url("/images/pages/main/main_visual_img_03_mo.png");
  }

  .main-visual-tit,
  .main-visual-tit:lang(en) {
    width: 100%;
  }

  .main-visual-tit p {
    font-size: 2rem;
  }

  .main-visual-indicator {
    right: auto;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .sc__main-visual .scroll-hint {
    right: 12%;
  }

  .technique-tab .tab-btn {
    font-size: 2.2rem;
  }

  .intro-img-wrap {
    max-width: 43.2rem;
    height: 55.26rem;
  }

  .news-item-inner {
    padding-left: 0%;
  }
}

@media (max-width: 960px) {
  .sc__main-intro .container-1360.df {
    flex-direction: column;
    align-items: center;
  }

  .intro-txt-wrap {
    width: 100%;
    max-width: 640px;
    padding: 6rem 0;
  }

  .sc__main-subject {
    padding-top: 12rem;
  }

  .sc__main-subject .bg {
    background-size: 1440px 100%;
    background-position: 20% 100%;
  }

  .sc__main-subject .sc-inner.df {
    flex-direction: column;
    align-items: center;
  }

  .subject-txt-wrap .main-sc-tit-wrap {
    width: 100%;
    max-width: 640px;
    padding: 0;
  }

  .subject-con-wrap {
    width: 100%;

    display: flex;
    justify-content: center;
  }

  .main-subject-swiper {
    width: 35rem;
  }

  .sc__main-equipment .main-sc-tit-wrap > .df,
  .sc__main-equipment .main-sc-tit-wrap > .df .df-item {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }

  .equip-txt-wrap {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
  }

  .equip-list {
    flex-direction: column;
    align-items: center;
    gap: 20rem;
  }

  .equip-item {
    width: 100%;
    max-width: 300px;
  }

  .sc__main-technique {
    padding-bottom: 3rem;
  }

  .technique-con-wrap,
  .technique-txt-wrap {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
  }

  .technique-cnt-inner {
    flex-direction: column;
  }

  .technique-cnt-inner .text,
  .technique-cnt-inner .image {
    width: 100%;
  }

  .technique-cnt-inner .text {
    padding: 2rem 2rem 4rem;
  }

  .technique-cnt-inner .text strong {
    height: 3em;
  }

  .technique-cnt-inner .text p {
    height: 6em;
  }

  .technique-cnt-inner .image {
    height: 28rem;
  }

  .main-technique-swiper,
  .technique-tab .tab-contents {
    height: auto;
  }

  .sc__main-technique .side-text {
    top: auto;
    bottom: 0;
    right: auto;
    left: 0;
    transform: translate(0, 0) rotate(0);
    border-bottom: none;
    border-top: 1px solid var(--color-primary-light);

    font-size: 3rem;
  }

  .news-item-inner {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  .news-con-wrap {
    height: auto;
    padding-top: 6rem;
  }

  .news-item-inner .image {
    width: 100%;
    max-width: 400px;
    transform: translate(-22%, 0);
  }

  .news-item-inner .text {
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .news-item-inner .text strong {
    font-size: 3rem;
  }

  .news-con-wrap:before {
    height: 40%;
    bottom: 40%;
  }

  .news-swiper-btn-prev,
  .news-swiper-btn-next {
    bottom: 65%;
  }
}

@media (max-width: 768px) {
  .main-visual-tit h3 {
    font-size: 5rem;
  }

  .main-visual-tit h3 .text-en {
    font-size: 4.8rem;
  }

  .subject-txt-wrap .main-sc-tit-wrap {
    padding: 0 20px;
  }

  .technique-cnt-inner .text p {
    font-size: 2rem;
  }
}

@media (max-width: 500px) {
  .main-visual-tit h3 {
    font-size: 4rem;
  }

  .main-visual-tit h3 .text-en {
    font-size: 3.2rem;
  }

  .main-sc-tit-wrap .tit {
    font-size: 3.6rem;
  }

  .main-subject-swiper {
    width: 100%;
    overflow: hidden;
  }

  .main-subject-swiper .swiper-slide {
    width: 100%;
    margin-right: 0;
    padding: 4rem 12%;
  }

  .swiper-slide-active .subject-item-inner .image {
    border-radius: 25rem;
  }

  .news-swiper-btn-next {
    transform: translate(0, 50%);
  }

  .news-swiper-btn-prev {
    transform: translate(0, 50%);
  }
}
